<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}" type="image/x-icon">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <style>
    body {
      background-image: url("{{ url_for('static', filename='images/bg1.jpg') }}");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  </style>
</head>
<body>
  <div class="login-container">
    <div id="main">
      <h1>Sign In</h1>
      <input id="email" type="text" placeholder="Email">
      <input id="password" type="password" placeholder="Password">
      <button id="submit">Submit</button>
      <p><span>or</span></p>
      <button id="sign-up">Sign Up</button>
    </div>

    <div id="create-acct" style="display: none;">
      <h1>Create an Account</h1>
      <input id="email-signup" type="email" placeholder="Email *">
      <input id="confirm-email-signup" type="email" placeholder="Confirm Email *">
      <input id="password-signup" type="password" placeholder="Password *">
      <input id="confirm-password-signup" type="password" placeholder="Confirm Password *">
      <button id="create-acct-btn">Create Account</button>
      <button id="return-btn">Return to Login</button>
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/script.js') }}" type="module" defer></script>
</body>
</html>
